---
layout: layouts/base.njk
permalink: projects.html
title: Projects
assetRoot: ""
activePage: projects
---
<main class="projects-page">
    <div class="page-header">
        <h1>Projects</h1>
    </div>
    <div class="projects-grid">
        {% from "project-card.njk" import render %}
        {% for project in collections.projects %}
        {{ render(project, 'projects', assetRoot) }}
        {% endfor %}
    </div>
</main>
