{% macro render(project, variant, assetRoot) %}
{% set cardTitle = project.data.card_title_home if variant == 'home' and project.data.card_title_home else project.data.title %}
{% set cardDescription = project.data.card_description_home if variant == 'home' and project.data.card_description_home else project.data.card_description %}
{% set cardMedium = project.data.card_medium_home if variant == 'home' and project.data.card_medium_home else project.data.card_medium %}
{% set cardTags = project.data.card_tags if project.data.card_tags else project.data.tags %}
{% set heroImage = project.data.hero_image %}
{% set projectUrl = assetRoot ~ 'projects/' ~ project.data.slug ~ '.html' %}
<article class="project-card">
    <a href="{{ projectUrl }}" class="project-card-link">
        <figure class="project-card-figure" aria-hidden="true">
            <img class="project-card-image" src="{{ assetRoot }}{{ heroImage }}" alt="">
        </figure>
        <div class="project-header">
            <h2 class="project-title">{{ cardTitle }}</h2>
            <span class="project-year">{{ project.data.card_year }}</span>
        </div>
        <p class="project-description">{{ cardDescription }}</p>
        <div class="project-meta">
            <span class="project-medium">{{ cardMedium }}</span>
            <span class="project-tech">{{ cardTags }}</span>
        </div>
    </a>
</article>
{% endmacro %}
