<!DOCTYPE html>
<html lang="en">
<head>
{% include "head.njk" %}
</head>
<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
{% include "nav.njk" %}
{{ content | safe }}
{% include "site-footer.njk" %}
<script src="{{ assetRoot }}main.js"></script>
</body>
</html>
